
/*-------------------------

Style For Website 1 

------------------------ */


/*-------------
 import font
 ------------- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ------------
header section 
-------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.header-container{
    display: flex;
    justify-content: center;
}
.header-section{
    background-color: #161616;
    width:90%;
    height:470px;
    border-radius: 30px;
    display: flex;
}
.container{
    width:50%;
    margin-left:70px;
    margin-top:70px;
}
.container a:hover{
    border-radius: 30px 10px;
    transition: all 2s; 
    display: inline-block;   
    transform: scale(1.5,1.5);
    background-color: #b10202b2;
}
.container p{
    color:#FFFFFF;
    font-size:13px;
    margin-bottom:30px;
}
/* ---------------------
header paragraph animation 
-------------------------*/
.container p:hover{
    transform: rotateX(360deg);
    transition: all 2s .4s;
}
.header-tittle{
    color:#FFFFFF;
    font-size:50px;
    line-height: 98%;
}
.headerd-div:hover{
    transform: scale(1.2,1.2);
    transition: all 2s;
}
.watch-button{
    text-decoration: none;
    background-color: #DD0000;
    padding:5px 10px;
    color:#FFFFFF;
    border-radius: 5px;
}
.banner{
    width:50%;
}
.banner img{
    width:100%;
    margin-top:15px;
    
}
.banner img:hover{
    transform: scale(1.09,1.09);
    transition: transform 2s 0.5s;
}
/*------------
 header end 
 ------------ */

 /* -----------
  main start
  ------------- */
.main-section{
    display: flex;
    justify-content: center;
}
.menu-container{
    background-color:#161616;
    width:20%;
    height:220px;
    border-radius: 5px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.side-menu{
    text-decoration:none;
    background-color: aliceblue;
    color:#161616;
    width: 80%;
    padding:7px 5px;
    border-radius: 5px;
    text-align: center;
}
.side-menu:hover{
    background-color: rgb(146, 183, 221);
}
#different-menu-item{
    background-color: #DD0000;
    color:#FFFFFF;
}
#different-menu-item:hover{
    /* background-color:#970303; */
    background: linear-gradient(to right, #a10202 0%, #b41b06 100%);
     /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
    transition:background 2s;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:23px;
    grid-column-gap:15px; ;
    margin-left: 15px;    
}
.blog-menu{
    border:1px solid rgb(224, 224, 224);
    width:200px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(224, 224, 224);;
}

/* blog animation */

.blog-menu:hover{
    transform: scale(1.1,1.1);
    transition: all 2s;
}
.blog-menu img{
    width:200px;
    height:125px;
}
.blog-menu a{
    width:150px;
    text-decoration: none;
    color: #6b6b6b;
    border:1px solid #161616;
    border-radius: 3px;
    padding:3px;
    font-size: 10px;
}

.blog-content{
    margin-left:7px;
    
}
.blog-content a:hover{
    background-color: #B9B9B9;
    color: #161616;
    transform: scale(1.5,1.5);
    transition: transform 1.5s;
}
.blog-bottom {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    
}
.hidden-button-container{
    display:none;
}
/* ----------------
this button is for only tablet ---------------------*/
.hidden-button-container a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    margin: 10px;
    margin-top: 30px;
    padding:7px 13px;
    border-radius: 5px;
}
/*----------------
 main end
 ------------ */
/*------------------
 footer section start 
 ------------------- */
footer{
    margin-top: 50px;
    background-color: #161616;
}
.footer-section{    
    height:350px;
    color:#B9B9B9;
    display: flex;
    justify-content: center;
    margin:0;
}

.footer-tittle{
    margin-top:50px;
    text-align: center;
    color:#FFFFFF;
}
hr{
    border:0.3px solid #FFFFFF;
    margin-top: 50px;
    margin-bottom: 30px;
  }
.footer-menu a{
    text-decoration: none;
    color:#B9B9B9;
    margin-left:20px;
    font-size: 10px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon a{
    margin-right: 30px;
    margin-left: 20px;
    font-size: 30px;
}
/* social media icon color */
.fa-facebook-square, .fa-linkedin, .fa-youtube{
    color: grey;
}
.fa-facebook-square:hover{
    color:#3b5998;
}
.fa-linkedin:hover{
    color:#0072b1;
}
.fa-youtube:hover{
    color:#FF0000;
}
/* ---------------- 
footer section end
------------------- */


/* ---------------
 media query 
 ---------------- */

 /* -------------------------
 media query of small device
 ----------------------------- */
@media only screen and (max-width:576px){
    body{
        margin: 0;
    }
    header{
        margin-bottom: 24px;
        margin-right: 12px;
        display: flex;
        justify-content: center;        
    }
    .header-container{
        display: flex;
        justify-content: center;
    }
    .header-section{
        width:90%;
        height: 360px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-tittle{
        color:#FFFFFF;
        font-size:20px;
    } 
    .header-tittle:hover{
        transition: font-size 2s .5s;
        font-size: 22px;
    }
    .container{
        width:50%;
        margin-top:0;
        text-align: center;
        margin-left: 0;
    }
    .container p{
        font-size: 8px;
    }
    .banner img{
        width:85%;
        margin-top:30px;
    }

    /* main section */

    .menu-container{
        background-color:#FFFFFF;
        width:60%;
        height:220px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
            
    }
    .blog-menu{
        width:320px;
        border-radius: 5px;
    }
    .blog-menu img{
        width:320px;
        height:180px;
    }
    .blog-menu a{
        width:170px;        
        border-radius: 4px;
        padding:4px;
        font-size: 15px;
    }
    .blog-content{
        margin-left:15px;
        
    }
    .blog-bottom {
        font-size: 15px;
        
    }

    /* footer design  */

    footer{
        width: 100%;
    } 
    .footer-section{
        height: 650px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-menu a{
        margin-bottom: 30px;
        margin-left: 0px;
    }
    /* icon design for small device */

    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .icon a{
        font-size: 20px;
        margin-bottom: 10px;
        
    }
}

/* -------------------------
meadia query for medium device
------------------------------ */

@media only screen and (min-width:567px) and (max-width:768px) {
    
    .header-section{
        width:90%;
        height: 370px;
    }
    .header-tittle{
        font-size: 40px;
    }
    .header-tittle:hover{
        transition: font-size 2s .5s;
        font-size: 44px;
    }
    .container{
        width:50%;
        margin-left:40px;
        margin-top:40px;
    }
    .banner img{
        width:100%;
        margin-top:30px;
        
    }
    .menu-container{
        background-color:transparent;
        width:90%;
        height: 100px;
        border-radius: 5px;    
        display:flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
    }
    .side-menu{
        width:190px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 50px;
            
    }
    .blog-menu{
        border:1px solid rgb(224, 224, 224);
        width:300px;
        border-radius: 5px;
    }
    .blog-menu img{
        width:300px;
        height:150px;
    }
    .blog-content{
        margin-left:7px;
        
    }
    .blog-content{
        margin-left:15px;
        
    }
    .blog .blog-menu:nth-of-type(7),
    .blog .blog-menu:nth-of-type(8),
    .blog .blog-menu:nth-of-type(9){
        display: none;
    }   
    
    .hidden-button-container{
        display: block;
    }
    .footer-menu{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-menu a{
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    
}
